.form{
    background-color: black;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding-top:60px;
    padding-bottom: 60px;
}

.inputrow1{
    margin-bottom: 30px;
}

.contact__form .form-control{
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #0c0c0c;
    border-radius: 0;
    border: 1px solid #fff;
}

.contact__form input .form-control{
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px)
}

.btn:hover{
    color: white;
}