.form {
  background-color: black;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

.inputrow1 {
  margin-bottom: 30px;
}

.contact__form .form-control {
  padding: 1.375rem 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  background-color: #0c0c0c;
  border-radius: 0;
  border: 1px solid #fff;
}

.contact__form input .form-control {
  margin-bottom: 2em;
  height: calc(2.5em + 0.75rem + 2px);
}

.btn:hover {
  color: white;
}

/* .send-button {
  width: 200px;
  height: 60px;
  outline: none;
  border: relative;
  border-radius: 180px;
  cursor: pointer;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.send-button::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 180px;
  width: calc(100% -12px);
  height: calc(100%-12px);
  top: 6px;
  left: 6px;
  background: rgb(19, 20, 22);
}
.send-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: white;
  z-index: 1;
  position: relative;
  background: transparent;
}

.send-button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  top: 0;
  left: 0;
  filter: blur(15px);
  border-radius: 180px;
  opacity: 0;
}

.send-button:hover {
  background-size: 400%;
  animation: rotateBorder 10s linear infinite;
}

@keyframes rotateBorder {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.send-button:hover::before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
} */

.button {
  width: 25%;
  height: 60px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 10px auto;
}

.button::before{
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #000;
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
