.App {
  background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.main-container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  /* background-color: black; */
  background-image: url("../src/laptop_semifolded_2.png");
  
  background-size: cover;
  background-repeat: no-repeat;
    color: #d1d3d5;
  height: 100vh;
  width: auto;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  font-size: 23px;
  gap: 30px;
}

.nav_style {
    padding-top: 10px;
    justify-content: flex-start;
    justify-self: center;
    font-size: 1.1rem;
}

#nav_style {
  background-color: #000000;
  justify-content: flex-start;
  justify-self: center;
  font-size: 1.1rem;
}

.container {
  padding-top: 10px;
}

 
.mca-logo {
  margin: 0px 50px;
}


.h1-main {
  font-size: 53px;
}

.h2-main {
  font-size: 32px;
}

.h3-main {
  font-size: 21px;
}

.content-main {
  max-width: 50%;
  padding-left: 15px;
}

.buttons-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 50%;
}

.backgroundimage-main {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.glow-on-hover {
  width: 25%;
  height: auto;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 10px auto;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.information-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: #D1D3D5;
  color: #2A2C2E;
}

.information-1 {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px auto;
  max-width: 80%;
}

.information-2 {
  display: flex;
  flex-flow: row-reverse nowrap;
  margin: 20px auto;
  padding: 10px;
  max-width: 80%;
}


.information-1 img  {
    width: 40%;
    height: auto;
    /* padding: 10px; */
}

.information-2 img  {
  width: 40%;
  height: auto;
}

.information-1 div  {
  padding: 1rem;
}
.information-2 div  {
  padding: 1rem;
}

.information-1 div p  {
  font-size: 1.2rem;
}

.information-2 div p  {
  font-size: 1.2rem;
}

.testimonials-container {
  background-color: #c7c7c7;
  color: #000000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.testimonials {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.testemonial-quote-author {
  font-weight: 600;
  display: block;
}

.testemonial-quote{
  margin: 10px
}

.sign-up {
  display: flex;
  flex-flow: row nowrap;
  background-color: #e0e0e0;
  color: #2A2C2E;
  max-width: 100%;
}

.sign-up div{
 width: 50%;
 padding: 30px;
}


.sign-form {
  display: flex;
  flex-flow: column nowrap;
}