.App {
  background-color: black;
  background-image: url("../src/iStock-nightsky-L.jpg");
  background-size: contain;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.main-container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  background-image: url("../src/iStock-nightsky-L.jpg");
  z-index: 999;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
  width: auto;
  text-align: left;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  gap: 30px;
}

.nav_style {
  padding-top: 10px;
  justify-content: flex-start;
  justify-self: center;
  font-size: 1.1rem;
}

#nav_style {
  background-color: transparent;
  justify-content: flex-start;
  justify-self: center;
  font-size: 1.1rem;
}

.container {
  padding-top: 10px;
}

.mca-logo {
  margin: 0px 50px;
}

.h1-main {
  font-size: clamp(2.25rem, 1rem + 4vw, 3.5rem);
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
  letter-spacing: 0.2rem;
}

.h2-main {
  font-size: clamp(1rem, 0rem + 3.2vw, 2rem);
  max-width: 80%;
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
  letter-spacing: 0.1rem;
}

.h3-main {
  font-size: clamp(0.75rem, 0.0625rem + 2.2vw, 1.4375rem);
  max-width: 80%;
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
  letter-spacing: 0.1rem;
  line-height: 200%;
}

.buttons-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  column-gap: 100%;
}

@media screen and (max-width: 600px) {
  .buttons-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2rem;
  }
}

.backgroundimage-main {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.glow-on-hover {
  height: auto;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
  padding: clamp(0.75rem, 0.0625rem + 2.2vw, 1.4375rem);
  font-size: clamp(0.75rem, 0.0625rem + 2.2vw, 1.4375rem);
  white-space: nowrap;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 15px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  left: 0;
  top: 0;
  border-radius: 15px;
  padding: clamp(0.75rem, 0.0625rem + 2.2vw, 1.4375rem);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.information-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: #ffffff;
  color: #2a2c2e;
  overflow: hidden;
  gap: 15%;
}

.information-1 {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px auto;
  max-width: 85%;
  z-index: 99;
  background-color: white;
  margin-top: 5%;
}

.information-2 {
  display: flex;
  flex-flow: row-reverse nowrap;
  margin: 20px auto;
  max-width: 85%;
  z-index: 99;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .information-1 {
    flex-flow: column nowrap;
    text-align: center;
  }
  .information-2 {
    flex-flow: column nowrap;
    text-align: center;
  }
  .information-1 img {
    width: 40%;
    height: auto;
    align-self: center;
  }
  .information-2 img {
    width: 40%;
    height: auto;
    align-self: center;
  }
}

.information-1 img {
  width: 70%;
  height: auto;
  max-width: 400px;
  margin: 0 7%;
}

.information-2 img {
  width: 70%;
  height: auto;
  max-width: 400px;
  margin: 0 7%;
}

.information-1 div {
  padding: 2rem;
}
.information-2 div {
  padding: 2rem;
  margin-right: 1rem;
}

.information-1 div p {
  font-size: 1.2rem;
  font-size: clamp(1rem, 0.75rem + 0.8vw, 1.25rem);
}

.information-2 div p {
  font-size: 1.2rem;
  font-size: clamp(1rem, 0.75rem + 0.8vw, 1.25rem);
}

.information-1 div h3 {
  margin-bottom: 15px;
}

.information-2 div h3 {
  margin-bottom: 15px;
}

.video-section {
  background-color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.h1-video-section {
  max-width: 80%;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  padding-top: 10%;
}

.video1-container {
  padding-top: 20px;
  width: 70%;
  min-width: 400px;
  margin: 10px;
  height: auto;
}

.video2-container {
  width: 70%;
  min-width: 400px;
  margin: 10px;
  height: auto;
}

.testimonials-container {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.testimonials {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.testemonial-quote-author {
  font-weight: 600;
  display: block;
}

.testemonial-quote {
  margin: 10px;
}

.sign-up {
  display: flex;
  flex-flow: row nowrap;
  background-color: #ffffff;
  color: #2a2c2e;
  max-width: 100%;
}

.sign-up div {
  width: 50%;
  padding: 30px;
}

.sign-form {
  display: flex;
  flex-flow: column nowrap;
}


.carousel-root {
  width: 100% !important;
  margin: none !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: 6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  /* padding-bottom: 8%; */
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}